<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/2390d22bcf.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <style>
            .check-info {
                font-size: 0.8em;
                padding-bottom: 10px;
                padding-top: 5px;
            }
            .chklabel {
                width: 50px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid d-flex flex-wrap">
            {{range .Checks}}
            <div id="accordion-{{.Service.Name}}" class="w-25 m-0">
                {{if eq .State "healthy"}}
                <div class="card border-success m-1">
                {{end}}
                {{if eq .State "unhealthy"}}
                {{if ne .StatusCode 0}}
                <div class="card border-danger m-1">
                {{else}}
                <div class="card border-light m-1">
                {{end}}
                {{end}}
                {{if eq .State "degraded"}}
                <div class="card border-warning m-1">
                {{end}}
                    {{if eq .State "healthy"}}
                    <div class="card-header bg-success border-success" id="heading-{{.Service.Name}}">
                        <h5 class="m-0">
                            <button class="btn btn-link text-white font-weight-bold pl-0 pr-0" style="overflow: hidden;text-overflow: ellipsis;max-width: 93%;" data-toggle="collapse" data-target="#collapse-{{.Service.Name}}" aria-expanded="true" aria-controls="collapse-{{.Service.Name}}">
                                {{.Service.Name}}
                            </button>
                            <i class="fa fa-check text-white" style="float: right;line-height: 1.8;" aria-hidden="true"></i>
                    {{end}}
                    {{if eq .State "unhealthy"}}
                    {{if ne .StatusCode 0}}
                    <div class="card-header bg-danger border-danger" id="heading-{{.Service.Name}}">
                        <h5 class="m-0">
                            <button class="btn btn-link text-white font-weight-bold pl-0 pr-0" style="overflow: hidden;text-overflow: ellipsis;max-width: 93%;" data-toggle="collapse" data-target="#collapse-{{.Service.Name}}" aria-expanded="true" aria-controls="collapse-{{.Service.Name}}">
                                {{.Service.Name}}
                            </button>
                            <i class="fa fa-times text-white" style="float: right;line-height: 1.8;" aria-hidden="true"></i>
                    {{else}}
                    <div class="card-header bg-light border-light" id="heading-{{.Service.Name}}">
                        <h5 class="m-0">
                            <button class="btn btn-link text-dark font-weight-bold pl-0 pr-0" style="overflow: hidden;text-overflow: ellipsis;max-width: 93%;" data-toggle="collapse" data-target="#collapse-{{.Service.Name}}" aria-expanded="true" aria-controls="collapse-{{.Service.Name}}">
                                {{.Service.Name}} 
                            </button>
                            <i class="fa fa-clock-o" style="float: right;line-height: 1.8;" aria-hidden="true"></i>
                    {{end}}
                    {{end}}
                    {{if eq .State "degraded"}}
                    <div class="card-header bg-warning border-warning" id="heading-{{.Service.Name}}">
                        <h5 class="m-0">
                                <button class="btn btn-link text-white font-weight-bold pl-0 pr-0" style="overflow: hidden;text-overflow: ellipsis;max-width: 93%;" data-toggle="collapse" data-target="#collapse-{{.Service.Name}}" aria-expanded="true" aria-controls="collapse-{{.Service.Name}}">
                                    {{.Service.Name}} <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <i class="fa fa-exclamation-triangle text-white" style="float: right;line-height: 1.8;" aria-hidden="true"></i>
                    {{end}}
                        </h5>
                    </div>
        
                    <div id="collapse-{{.Service.Name}}" class="collapse" aria-labelledby="heading-{{.Service.Name}}" data-parent="#accordion-{{.Service.Name}}">
                        <div class="card-body">
                            <dt>State</dt>
                            <dd>{{.State}}</dd>
                            {{if ne .State "healthy"}}
                            {{if ne .StatusCode 0}}
                            <dt>Status Code</dt>
                            <dd>{{.StatusCode}}</dd>
                            <dt>Error</dt>
                            <dd>{{.Error}}</dd>
                            {{else}}
                            <dt>Error</dt>
                            <samp style="font-size:0.8em">{{.Error}}</samp>
                            {{end}}
                            {{end}}
                            <hr>
                            {{ if .Body.Checks}}
                            <details>
                                <summary style="padding-bottom: 10px;margin-left: -17px;font-weight: bold;">Checks</summary>
                                {{range .Body.Checks}}
                                <dt>{{.Name}}: <span class="badge badge-secondary" style="float:right">{{.Health}}</span></dt>
                                <div class="check-info">
                                    <div><span class="chklabel">Output: </span><span class="chkvalue">{{.Output}}</span></div>
                                    <div><span class="chklabel">Action: </span><span class="chkvalue">{{.Action}}</span></div>
                                    <div><span class="chklabel">Impact: </span><span class="chkvalue">{{.Impact}}</span></div>
                                </div>
                                {{end}}
                            </details>
                            {{end}}
                            <dt>Last Checked</dt>
                            <dd><a href="#" data-toggle="tooltip" data-placement="top" title="{{.CheckTime}}">{{.HumanisedCheckTime}}</a></dd>
                            <dt>Entered This State</dt>
                            <dd><a href="#" data-toggle="tooltip" data-placement="top" title="{{.StateSince}}">{{.HumanisedStateSince}}</a></dd>
                            <a href="/namespaces/{{$.Namespace}}/services/{{.Service.Name}}/checks"class="btn btn-primary">History</a>
                        </div>
                    </div> <!-- end of collapse-{{.Service.Name}} -->
                </div> <!-- end of card {{.Service.Name}} -->
            </div> <!-- end of accordian {{.Service.Name}} -->
            {{end}}
        </div> <!-- end of container -->
    </body>
</html>
